/* COMPONENTS CSS */


/* Navbar component  */

.navbar {

  box-shadow: 0px 2px 4px rgb(0 0 0 / 28%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;

}

.navarbar-logo{
  width:150px;
}

.navbar-menu{

  width:30px;
  height:30px;

} 

/* Footer component */


.footer {

  display: flex;
  justify-content: right;  
  padding-right: 1em;

}

/* Product card component */

.product-card {

  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  min-width: 200px;
  max-width: 300px;
  max-height: 300px;
  padding-bottom: 1em;
  border-radius: 10px;
}


.product-card:hover {

  box-shadow: 2px 2px 6px rgb(0 0 0 / 60%);
  max-width: 300px;
  max-height: 300px;
  padding-bottom: 1em;
}

.product-card-image{
  max-height: 120px;
}

.FoodScan {

  padding-top: 3em;
  padding: 2em;
}


a {
  text-decoration: none;
  color: grey;
}

/* Product list component */

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2.5em;
  row-gap: 1em;
  column-gap: 1em;
  padding-bottom: 1em;

}

.product-list-loupe {

  width:35px; 
  height:35px;
}

/* Search bar */

.search-bar{
  padding:0.5em;
}

.search-form {
  display:flex;
  justify-content: center;

}

input {
  color: var(--search-box-text);
  font-family: inherit;
  font-size: inherit;
  max-height: 100%;
  max-width: 100%;
  width: 650px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid grey;
  outline: none;
  padding: 0.3em;
  margin: 1em;
}

.search-button{

  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Pagination CSS */

.pagination {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  
}

.pagination > ul {
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline-block;
  
}

.pagination li > a {
  padding: 0.5rem;
  margin: 1px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #a7d56e  ;
  border-radius: 2px;
  min-width: 1rem;
  

}

.pagination li > a:focus {
  outline: none;
}

.pagination li > a:hover {
  background-color: #83c529;
  color: #fff;
}

/* Product details component  */

.product-details-component{
  display:flex;
  justify-content: center;
  margin: 1em;
}

.product-details-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 600px;
  min-width: 400px;
  min-height: 500px;
}

.product-details-back-home {
  display:flex;
  justify-content: right;
  margin: 2em;
  

}

.product-details-home{
  width: 20px;
}

.product-details-image{
  max-height: 200px;
}


/* TEXT CSS */

p {
  color: grey
}; 

